<div id="about" class="about">
    <h3 class="title">About</h3>

    <p>Sh*tty Christians is a podcast made by and about shitty christians. Your russian sleeper cell in the Christian Right.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu felis bibendum ut tristique et egestas. Integer malesuada nunc vel risus commodo viverra maecenas. Sed odio morbi quis commodo odio aenean. Euismod quis viverra nibh cras pulvinar. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Aliquam ut porttitor leo a diam sollicitudin tempor. Aliquam vestibulum morbi blandit cursus.</p>

    {{ partial "podcaster" (dict "name" "Michael Taber" "img" "/images/michael.jpg" "handle" "MichaelTaber") }}

    {{ partial "podcaster" (dict "name" "Zac Allard" "img" "/images/zac.jpg" "handle" "zachary_allard") }}
</div>
