<div id="about" class="about">
    <h3 class="title">About</h3>

    <p>Shitty Christians is a comedy podcast made by and about shitty Christians. Your Russian sleeper cell in the Christian Right.</p>

    <p>Join us as we explore the intersections of faith and politics from a leftist perspective. Each week is a deep dive into a different corner of a world few people really understand. If you're wondering why 81% of Evangelicals voted for Trump, or want to hear someone yell about the evils of late stage capitalism, this is for you.</p>

    {{ partial "podcaster" (dict "name" "Michael Taber" "img" "/images/michael.jpg" "handle" "MichaelTaber") }}

    {{ partial "podcaster" (dict "name" "Zac Allard" "img" "/images/zac.jpg" "handle" "zachary_allard") }}
</div>
