<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">
    <ul class="links">
        <li class="active"><a href='{{ "/" | relLangURL }}'>Listen</a></li>
        <li><a href='{{ "#about" }}'>About</a></li>
        {{ with $data.contactinfo }}
        <li><a href='{{ "#footer" | relLangURL }}'>{{ i18n "NAV_CONTACT" . }}</a></li>
        {{ end }}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
        {{ with .twitter }}
        <li><a href="{{ . }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        {{ end }}

        {{ with .spotify}}
        <li><a href="{{ . }}" class="icon alt fa-spotify" target="_blank"><span class="label">Spotify</span></a></li>
        {{ end }}

        {{ with .itunes}}
        <li><a href="{{ . }}" class="icon alt fa-podcast" target="_blank"><span class="label">Itunes</span></a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>
