.podcaster {
    width: 100%;
    padding: 20px;
    display: inline-block;
    text-align: center;

    img {
        width: 200px;
        max-width: 80%;
        border-radius: 100%;
    }

    p {
        text-align: center;
        font-size: 0.8rem;
        margin: 0;
    }
}

@media( min-width: 768px) {
    .podcaster {
        width: 49.5%;

        img {
            max-width: 60%;
        }
    }
}
